/* --- BODY Setting for Portfolio, Index, and Contact html --- */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("../IMGS/prism.png");
}

/* Positions Container to a Relative to page position */
html {
  position: relative;
  min-height: 100%;
}
  
/* Adds spaced between Nav Bar and Containers */
main {
  margin: 80px 0;
}

/* Begin - Navbar Properties Section * /

/* NAVBAR LOGO */
#logo {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  background: #343a40;
}
  
.navbar {
  background: white;
  border: none;
}
    
/* media query for nav background color change */
    
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
}
}
/* END NAVBAR PROPERTIES */
    

/* Begin - Block Properties of all sections */

/* Article Block properties for Portolio, Index, and Contact pages  */
.block {
  background-color: #f8f9fa;  
  padding: 30px;
  margin-bottom: 30px;
}
  
/* Header properties for Article Blocks - Portfilio, About - Me, Contact */
.block-header {
  color: #343a40;
  font-weight: bold;
}

/* BEGIN - FOOTER Properties */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;
  
  /* Box-model */
  width: 100%;
  height: 60px;
  
  /* Visual */
  background-color: #3685d4;
}
  
.text-muted-footer {
  /* Box-model */
  margin-top: 15px;
  
  /* Typography */
  color: #fff;
}
  
.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;
  
  /* Visual */
  background-color: #f8f9fa;
}
/* END - FOOTER Properties */


/* Page Specific styles - About Me, Portfolio, Contact Details */

/* ABOUT-ME PAGE Details */

#about-image {
  /* Positioning */
  float: left;
  
  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
}
  
/* PORTFOLIO PAGEDetails */
.port-image {
  height: 350px;
  width: 350px;
  margin: 20px auto;
}
 
/* CONTACT FORM PAGE Details */
.form-control {
  /* give input boxes right angles */
  border-radius: 0;
  
  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}
  
.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 18px;
  font-weight: lighter;
  
  /* Typography */
  color: #fff;
  
  /* Visual */
  background-color: #343a40;
  border: 0;
}
  
.submit-btn:hover {
  opacity: .7;
}
/* End Specific Page Details */
  